@import 'antd/dist/reset.css';


@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../../fonts/Inter/Inter-Regular.woff2');
  font-weight: regular;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Inter', serif;
  background-color: #e5e5e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 1010px;
  min-height: 100vh;
}

.header {
  width: 938px;
  margin-bottom: 34px;
}

.main {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.ant-spin {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-alert {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-input {
  height: 40px;
  // margin-bottom: 34px;
  font-size: 16px;
  line-height: 22px;
}

.ant-pagination {
  margin-bottom: 17px;
}

.ant-pagination .ant-pagination-item-active a {
  color: white;
  background-color: #1677ff;
}

.ant-pagination .ant-pagination-item-active a:hover {
  color: white;
}

.ant-rate {
  align-self: center;
  margin-top: auto;
}

.ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 6px;
}

.ant-rate-star {
  font-size: 18px;
}

.ant-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 280px; 
  width: 185px;
  margin: 0;
}

.ant-tag {
  margin-right: 6px;
  padding: 0px 4px;
  font-size: 10px;
  line-height: 18px;
}

@media (max-width: 1120px) {
  .app {
    width: 420px;
    min-height: 100vh;
  }

  .header {
    width: 388px;
    margin-bottom: 10px;
  }

  .ant-rate {
    align-self: end;
    margin-top: auto;
  }

  .ant-empty {
    height: 90px; 
    width: 60px;
  }

  .ant-empty-description {
    font-size: 8px;
  }

  .ant-alert-message {
    width: 200px;
  }
}
