@import '~antd/dist/antd.css';

body {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  background-color: #e5e5e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 1010px;
  min-height: 100vh;
}

.header {
  width: 938px;
}

.main {
  flex-grow: 1;
}

.ant-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-input {
  height: 40px;
  margin: 34px 0;
  font-size: 16px;
  line-height: 22px;
}

.ant-pagination {
  margin-bottom: 17px;
}
