.list {
  // margin: 0 auto;
  margin-bottom: 34px;
  // padding: 0 36px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  grid-gap: 36px;
  grid-auto-flow: row;
}
